{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'Assist/css/signup.css' %}">
    <link rel="icon" type="image/png" href="{% static 'Assist/images/fav.png' %}">
</head>
<body>
    <div class="container">
        <form method="post" class="forgot-password-form">
            {% csrf_token %}
            <h2>Forgot Password</h2>

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <br>
            <div class="form-element">
                <label for="username">Enter your username</label>
                <input style="margin-top: 5px;"type="text" id="username" name="username" placeholder="Enter username" required>
            </div>

            <button type="submit" class="btn">Continue</button>

            <p><a href="{% url 'index' %}">Back to Login</a></p>
        </form>
    </div>
</body>
</html>
